@page "/users/details"
@using BudgetPlanner1.Data
@using Microsoft.AspNetCore.Identity
@inject UserManager<BudgetPlanner1User> UserManager
@inject NavigationManager NavigationManager

<PageTitle>User Details</PageTitle>

<h1>User Details</h1>

<div>
    @if (user is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <dl class="row">
            <dt class="col-sm-2">Username</dt>
            <dd class="col-sm-10">@user.UserName</dd>

            <dt class="col-sm-2">Email</dt>
            <dd class="col-sm-10">@user.Email</dd>
        </dl>

        <div>
            <a href="@($"/users/edit?id={user.Id}")">Edit</a> |
            <a href="/users">Back to List</a>
        </div>
    }
</div>

@code {
    private BudgetPlanner1User? user;

    [SupplyParameterFromQuery]
    public string? Id { get; set; }  // IdentityUser.Id is string

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(Id))
        {
            NavigationManager.NavigateTo("/users");
            return;
        }

        user = await UserManager.FindByIdAsync(Id);

        if (user is null)
        {
            NavigationManager.NavigateTo("/notfound");
        }
    }
}
